.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: lightslategray;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
