<section>
  <h1>Formal Education</h1>
  <div class="education-container">
    <ul>
      <li>
        <h3 class="institue">Appleseeds</h3>
        <p class="years">2021-2022</p>
        <p class="role">Fullstack Developer Bootacmp</p>
        <p>
          Intensive 6-months, 720 hours training program that encourages
          self-led learning as well as group projects that simulate real-world
          development teams. Learning and applying front-end skills such as
          <strong>HTML, CSS, JavaScript, React</strong>, back-end skills as
          <strong>NodeJs and MongoDB</strong>
          database.
        </p>
      </li>
      <hr />
      <li>
        <h3 class="institue">IDC Herzliya</h3>
        <p class="years">2006-2008</p>
        <p class="role">B.A Business Management and Information Technology</p>
        <p></p>
      </li>
    </ul>
  </div>
</section>
