<section>
  <div>
    <p class="seperator">Hello</p>
    <h1 class="title seperator">
      I am Assaf,<br />I'm a Fullstack web developer
    </h1>
    <p class="about-me seperator">
      After many years in the world of implementation, I decided to change my
      path into the coding world and participated in Apple Seeds Fullstack
      Development Bootcamp and worked in the past year as software engineer at
      Zoominfo. <br />I'm a great team worker, multi-tasker and creative. A
      highly motivated person with a self learning abilities, always looking to
      develop.
    </p>
    <a
      class="download"
      role="button"
      href="../../../assets/Assaf VanunuCV.docx"
      download="Assaf VanunuCV.docx"
      >Download &#11015;</a
    >
  </div>
  <img src="../../../assets/me.jpg" alt="" />
</section>
